.sidebar {
    width: 200px;
    height: 100%;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    transition: width 0.3s ease;
    border: none;
    margin-top: 5%;
}

.sidebar.active {
    width: 250px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
}

.sidebar ul li:last-child {
    margin-top: 150%;
    img {
        width: 100%;
    }
}

.sidebar ul li a:hover {
    background-color: #555;
}

.login-message {
    color: #fff;
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 50px; /* Reduce el ancho del sidebar */
    }
    
    .sidebar.active {
        width: 150px; /* Reduce el ancho del sidebar activo */
    }

    .sidebar ul li a {
        padding: 10px; /* Aumenta el espacio alrededor del texto del enlace */
    }

    .login-message {
        padding: 10px; /* Ajusta el espacio alrededor del mensaje de inicio de sesión */
    }
}