.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post-details {
    background-color: #5b5b5b;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-details p {
    font-size: 16px;
    margin-bottom: 20px;
}

.post-details textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.post-details button {
    background-color: #af4c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}
.post-details button:last-child {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}

.post-details button:hover {
    background-color: #45a049;
}
