.posts {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message,
.no-posts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.post-link {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    p {
        color: white;
    }
}

p {
    color: white;
}